/*-------- navbar css ------*/
nav.navbar {
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0px 13px 25px -12px rgba(0, 0 ,0,0.25);
}
.alfred-logo {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 28px;
    color: #087dc2;
    font-weight: 600;
}
.alfred-logo:hover {
    color: #087dc2;
}
.navbar-nav a, .logout-btn {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
    color: #666;
    font-weight: 700;
    font-size: 14px;
}
.user-name {
    margin-left: 40px;
    color: #666;
    font-weight: 700;
    font-size: 16px;
}
.logout-btn {
    padding: 0;
    border: 0;
    background: 0;
}
.navbar-nav a.selected {
    position: relative;
}
.navbar-nav a.selected::before {
    position: fixed;
    bottom: -2px;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    background-color: #087dc2;
    height: 2px;
}
/*-------- media query --------*/
@media only screen and (max-width:575px) {
    nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .navbar-nav a, .logout-btn {
        margin-left: 0;
        display: block;
        margin: 10px;
    }
    .user-name {
        margin-left: 10px;
    }
    .navbar-nav a.selected::before {
        width: 0;
    }
    nav.navbar {
        padding: 15px 0;
    }
    .alfred-logo {
        font-size: 22px;
    }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .navbar-nav a, .logout-btn {
        margin-left: 0;
        display: block;
        margin: 10px;
    }
    .user-name {
        margin-left: 10px;
    }
    .navbar-nav a.selected::before {
        width: 0;
    }
    nav.navbar {
        padding: 15px 0;
    }
    .alfred-logo {
        font-size: 22px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .navbar-nav a, .logout-btn {
        margin-left: 0;
        display: block;
        margin: 10px;
    }
    .user-name {
        margin-left: 10px;
    }
    .navbar-nav a.selected::before {
        width: 0;
    }
    nav.navbar {
        padding: 15px 0;
    }
    .alfred-logo {
        font-size: 22px;
    }
}

