.banner-part .carousel-caption {
    top: 35%;
}
.banner-part .carousel-caption h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-part .carousel-caption p {
    font-size: 23px;
    width: 518px;
    margin: 0 auto;
    line-height: 33px;
}
span.carousel-control-next-icon {
    display: none;
}
span.carousel-control-prev-icon {
    display: none;
}
.banner-part .carousel-indicators [data-bs-target] { 
    display: none;
}